.contentRow {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.imageContainer {
  flex: 1; /* Takes 50% of the row */
  display: flex;
  justify-content: center; /* Centers the image horizontally */
}

.resourceImage {
  width: 45%; /* Adjust image size */
  height: auto;
  max-width: 400px; /* Optional: Sets a max width for the image */
  border-radius: 8px; /* Optional: Adds rounded corners */
  border: 5px solid var(--secondary-color); /* Optional border */
}

.textContainerRight {
  flex: 1; /* Takes 50% of the row */
  padding-left: 20px; /* Add spacing between image and text */
}
